.background {
    background: #fff url("test.JPG") no-repeat fixed center bottom;
    width: 100%;
    height: 100%;
    background-size: cover;
}

h1, h2, h3, .date, a, .venue-link {
    color: white;
}

#info {
    position: absolute;
    top: 0;
    left: 0;
}

/*highlights*/
i, .and {
  /*color: rgb(191, 190, 174);*/
  /*color: rgb(190, 189, 191);*/
  color: #CAC1B4;
  /*color: #F2EDD8;*/
}
.divider {
  /*background-color: rgb(191, 190, 174);*/
  /*background-color: rgb(190, 189, 191);*/
  background-color:  #CAC1B4;
  /*background-color: #F2EDD8;*/
}

@media only screen and (max-width: 750px) {
	 h2 {
	 	font-size: 1em;
	 }
	 h1 {
	 	font-size: 4em;
	 }
	 .mb {
	 	margin-bottom: 20px;
	 }
	 h3 {
	 	font-size: 10px;
	 }
  }